In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
train = pd.read_csv('data/train_texts.csv')
test = pd.read_csv('data/test_texts.csv')

In [14]:
train.head()

,text,has_code,has_markdown,length,tags,class
0,implementing minimum spanning forrest algorihm...,0,1,0.027771,<java><algorithm><graph-algorithm>,2
1,r studio date getting converted number making ...,0,0,-0.512625,<html><r><dataframe>,2
2,panda dataframe groupby get sum multiple colum...,1,1,0.151526,<python><pandas><dataframe><pandas-groupby>,0
3,casting result observableforkjoin respective t...,1,1,0.301407,<angular><typescript><rxjs>,0
4,environment variable set batch file cannot acc...,1,1,-0.461748,<c><windows><batch-file>,1

In [15]:
tags = train[['tags', 'class']]

In [16]:
tags.head()

                                          tags  class
0           <java><algorithm><graph-algorithm>      2
1                         <html><r><dataframe>      2
2  <python><pandas><dataframe><pandas-groupby>      0
3                  <angular><typescript><rxjs>      0
4                     <c><windows><batch-file>      1

Посмотрим, сколько уникальных тэгов и сколько уникальных слов в тэгах

In [17]:
def split_tag_words(s):
    s = s[1:-1]
    s = s.replace('><', '|')
    return s

In [18]:
split_tags = tags['tags'].map(split_tag_words)

In [22]:
all_tags = set(('|'.join(split_tags)).split('|'))

In [24]:
len(all_tags)

9619

In [25]:
all_words = set(('-'.join(split_tags)).replace('|','-').split('-'))

In [27]:
len(all_words)

7313

Тэгов ненамного больше, чем уникальных слов. Оставим, как есть.

In [28]:
tags['tags'] = tags['tags'].map(split_tag_words)

/home/pythonimous/venv/data-science/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
cleaned_tags = tags.tags.str.split('|', expand=True).stack()
cleaned_tags

0      0                  java
       1             algorithm
       2       graph-algorithm
1      0                  html
       1                     r
                   ...
47997  2    kafka-producer-api
47998  0                github
47999  0                   ios
       1           objective-c
       2           uitableview
Length: 127809, dtype: object